.content-list {
    width: 100%;


    .file-path input,
    .search input {
        width: 100%;
        font-size: 1.2rem;
    }

    .file-path,
    .search,
    .button-group {
        margin-bottom: 10px;
    }

    .file-path {
        // display: none;
        width: 100%;
        background-color: rgb(231, 231, 231);
        font-size: 1.1rem;
        padding: 6px 8px;
        overflow-x: auto;
        text-overflow: ellipsis;
        white-space: normal;
    }

    .button-group {
        display: flex;
        align-items: center;

        .btn {
            margin-right: 20px;
        }
    }
    .multiple-header {
        width: 100%;
        background-color: rgb(238, 238, 238);
        padding: 5px 7px;
    }
    .multiple-btn-group {
        margin-bottom: 10px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit,minmax(100px,auto));
        align-items: center;
        justify-content: start;

        .btn {
            margin: 0;
            max-width: 100px;
        }
    }
}

@media (max-width: 500px) {
    .content-list {
        

        .button-group {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(150px,auto));
            grid-gap: 5px;
            .btn {
                font-size: 0.9rem;
            }
        }
    }
}