.form {
    width: 100%;
    // display: flex;
    align-items: center;
    justify-content: flex-start;

    .upload-btn {
        display: block;
    }

    .file-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .label {
            font-size: 14px;
        }
    }


    
}